<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Monte seu personagem</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <h1 style="padding-left:30%; padding-bottom:5%">Monte seu personagem</h1>
    <div class="conatiner">
        <div class="row">
            <div class="col">

            </div>
            <div class="col-8">
            <form>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" class="form-control" id="nome"placeholder="Nome">
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleInputPassword1">Idade</label>
                            <input type="text" class="form-control" id="Idade" placeholder="Idade">
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label for="Escolaridade">Escolaridade</label>
                            <input type="text" class="form-control" id="Escolaridade" placeholder="Escolaridade">
                        </div>
                        
                        <div class="form-group">
                            <label for="estado_origem">Estado de origem</label>
                            <input type="text" class="form-control" id="estado_origem" placeholder="Estado de origem">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label>
                                    <input type="radio" name="test" value="small" checked>
                                    <img src="../assests/blue.png">
                        </label>
                        <label>
                                <input type="radio" name="test" value="small" checked>
                                <img src="../assests/blue.png">
                        </label>
                        <label>
                            <input type="radio" name="test" value="small" checked>
                            <img src="../assests/blue.png">
                        </label>
                
<!--                         
                        <button data-toggle="button" id=""><img src="../assests/green.png"></button>                            
                            <button id=""><img src="../assests/gray.png"></button>                            
                            <button id=""><img src="../assests/red.png"></button>                             -->
                        
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </div>
            <div class="col">

            </div>
        </div>    
    </div>

    
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>