<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Monte seu personagem</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
</head>

<body>
    <h1 style="padding-left:30%; padding-bottom:3%; padding-top: 5%; color: blanchedalmond; text-shadow: 2px 2px black;">Ficha do personagem</h1>
    <div style="margin-left: 20%; margin-right: 20%">
        <div>
            <img id="imagem" src="../static/blue.png" alt="">
        </div>        
        <table class="table table-dark">
            <tbody>
            <tr>
                <th scope="row">Nome</th>
                <td>{{personagem.nome}}</td>
            </tr>
            <tr>
                <th scope="row">Idade</th>
                <td>{{personagem.idade}}</td>
            </tr>
            <tr>
                <th scope="row">Escolaridade</th>
                <td>{{personagem.escolaridade}}</td>
            </tr>
            <tr>
                <th scope="row">Estado de origem</th>
                <td>{{personagem.estado}}</td>
            </tr>
            <tr>
                <th scope="row">Personagem</th>
                <td>{{personagem.personagem}}</td>
            </tr>
            <tr>
                <th scope="row">Salario</th>
                <td>{{personagem.salario}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <script>
            if($( "body > div > table > tbody > tr:nth-child(5) > td" ).text() === "Mulher Branca"){
                $("body").css("background-image", "url('../static/backazul.png')");
                $("#imagem").attr("src", "../static/blue.png"); 
                $("body").css("background-size", "cover");    
            }
            if($( "body > div > table > tbody > tr:nth-child(5) > td" ).text() === "Homem Negro"){
                $("body").css("background-image", "url('../static/backvermelho.png')");
                $("body").css("background-size", "cover");    
                $("#imagem").attr("src", "../static/red.png"); 
                
            }            
            if($( "body > div > table > tbody > tr:nth-child(5) > td" ).text()=== "Mulher Negra"){
                $("body").css("background-image", "url('../static/backverde.png')");    
                $("body").css("background-size", "cover");
                $("#imagem").attr("src", "../static/green.png"); 
                
            }            
            if($( "body > div > table > tbody > tr:nth-child(5) > td" ).text() === "Homem Branco"){
                $("body").css("background-image", "url('../static/backcinza.png')");
                $("body").css("background-size", "cover");    
                $("#imagem").attr("src", "../static/gray.png"); 
                
            }
        
    </script>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>